<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.qiyecomm" platformBuildVersionCode="120" platformBuildVersionName="9.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.huawei.systemmanager.permission.ACCESS_INTERFACE"/>
    <uses-permission android:name="com.huawei.permission.sec.MDM"/>
    <uses-permission android:name="com.huawei.permission.sec.MDM_APP_MANAGEMENT"/>
    <uses-permission android:name="com.huawei.permission.sec.MDM_INSTALL_SYS_APP"/>
    <uses-permission android:name="com.huawei.permission.sec.MDM_INSTALL_UNDETACHABLE_APP"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.x.plus.pro.base.BaseApp" android:roundIcon="@mipmap/ic_launcher_round" android:screenOrientation="portrait" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <activity android:name="com.x.plus.pro.IntroductionActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.x.plus.pro.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.x.plus.pro.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.x.plus.pro.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.x.plus.pro.register.RegisterActivity" android:screenOrientation="portrait"/>
        <provider android:authorities="com.qiyecomm.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <receiver android:name="com.x.plus.pro.dm.DeviceManageReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
            </intent-filter>
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin"/>
        </receiver>
        <receiver android:name="com.x.plus.pro.update.UpdateBroadcast">
            <intent-filter>
                <action android:name="com.x.plus.pro.UpdateBroadcast"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.x.plus.pro.update.UpdateNotificationReceiver">
            <intent-filter>
                <action android:name="com.x.plus.pro.UpdateNotifyClick"/>
            </intent-filter>
        </receiver>
        <service android:name="com.x.plus.pro.messenger.MessengerService" android:process=":update"/>
        <activity android:name="com.x.plus.pro.UpdateDialogActivity" android:screenOrientation="portrait" android:theme="@style/CommDialog"/>
        <service android:name="com.liulishuo.filedownloader.services.FileDownloadService$SharedMainProcessService"/>
        <service android:name="com.liulishuo.filedownloader.services.FileDownloadService$SeparateProcessService" android:process=":filedownloader"/>
    </application>
</manifest>
